/configs/.emacs.d/ido.last
/configs/.emacs.d/projectile-bookmarks.eld
/configs/.emacs.d/smex-items
/configs/.emacs.d/ac-comphist.dat
/configs/.emacs.d/auto-save-list/*
/configs/.emacs.d/.mc-lists.el
/configs/.emacs.d/.mc-lists.elc
**/.DS_Store
/configs/.emacs.d/xkcd
configs/.emacs.d/elpa/archives/*/archive-contents
